@charset "utf-8";
/*-----------------loading 切换至横屏 gameStart-------------*/
body{font-size:62.5%;}
.fakeloader,.index_bg,.game_start{ position:fixed; width: 100%; height: 100%; top: 0; left:0; bottom:0; right:0; z-index: 999; background: #334455;}
.fakeloader img{display: block; width:38%; position: relative; top: 50%; left: 50%; margin-left:-19%;}
.index_bg{background: url("../images/hp_repit_x.png") repeat-x #fff; background-size: auto 100%;z-index: 1000;}
.hp_pic{ width:83%; height: 36.5%; background: url("../images/hp_pic.png") no-repeat; background-size:100% 100%; position: absolute; bottom:26.5%; left:0;}
.hp_txt{width:80%; height: 11.5%; background: url("../images/hp_txt.png") no-repeat; background-size:100% 100%; position: absolute; top: 20%; left: 50%; margin-left:-40%;}
.game_start{ background: url("../images/start_pic.jpg") no-repeat; background-size:100% 100%; z-index: 998;}
.start_button{width:29.3%; height: 17.8%; display:block; position: absolute; bottom:11.8%; left:36.2%;}
.mod_result,.shareBox{ position:fixed; width: 100%; height: 100%; top: 0; left:0; bottom:0; right:0; z-index: 1100; background: url("../images/result.jpg"); background-size:100% 100%;}
.shareBox{ background: url("../images/share.png"); background-size:100% 100%;}


/*--------------------------------reset css------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;word-break:break-all;word-wrap:break-word;}
fieldset,img{border:0}
embed,param,object{ padding:0; margin:0; display:block; float:left; zoom:1; overflow:hidden;}/*重置flash样式*/
:focus{outline:0; outline:none;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
abbr,acronym{border:0;font-variant:normal}
input,button,textarea,select,optgroup,option{/*font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit*/}
code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}
body{line-height:1.5}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{font-size:100%;vertical-align:baseline}
:link,:visited ,ins{text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
*{appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;zoom:1;}
/* Hides from IE-mac*/
* html .clearfix{height:1%;}
.clearfix{display:block;}
.ds_n{ display:none;}
.ds_b{ display:block!important;}
.v_h{visibility: hidden;}
.col_f{color:#fff;}
body{font:14px/1.5em "Arial","SimHei","黑体","Microsoft YaHei","微软雅黑";background:#334455;width:100%; height:100%; overflow: hidden; zoom:1;}
li.bor_b_n{ border-bottom:none!important;}
.pos_r{ position:relative;}.pos_a{ position:absolute;}.hide{visibility: hidden;}.txtOut{text-indent:-99999em;}

/* -----------------------------------全局public-----------------------------*/
.fl { float:left;}.f_n{ float:none!important;}.fr { float:right;}.db { display:block;}.dn { display:none!important;}.cl { clear:both;}.tl { text-align:left;}.tc { text-align:center;}.tr { text-align:right;}.d_i_b{ display:inline-block!important;}.ov_z{ overflow:hidden; zoom:1;}.ov_y_a{ overflow-x:hidden; overflow-y:auto;}.po_r{ position:relative;}.po_a{ position:absolute;}.mar_c{ margin:0 auto;}

/*----------car_content-----------------*/
.car_content{ background:#659a00; width:100%; height: 100%; position:fixed; top: 0; left: 0; bottom:0; right:0;}

/*--------------mod_car--------------*/
.mod_car{ width: 100%; height:100%; position: fixed; top:0; left: 0; bottom:0; right:0; z-index:3;}
.mod_car_img{width: 100%; height:100%; position: fixed; top:0; left: 0; bottom:0; right:0; background:url("../images/car_control.png") no-repeat; background-size:100% 100%; z-index:3;}
.mod_road_bg{ width: 100%; height:100%; position: fixed; top:0; left: 0; bottom:0; right:0; background:url("../images/road.png") no-repeat; background-size:100% 100%; z-index:0;}
.road_two_bg{ width: 100%; height:100%; position: fixed; top:0; left: 0; bottom:0; right:0;background:url("../images/road_bmx.png") no-repeat; background-size:100% 100%; z-index: 2;}
.road_noLeft_bg{ width: 100%; height:100%; position: fixed; top:0; left: 0; bottom:0; right:0;background:url("../images/road_zc.png") no-repeat; background-size:100% 100%; z-index: 2;}
.road_left_bg{ width: 100%; height:100%; position: fixed; top:0; left: 0; bottom:0; right:0;background:url("../images/road_xd.png") no-repeat; background-size:100% 100%; z-index: 2;}
.road_run{ position: absolute; left: 51%; top: 0; bottom:0; right: 0; z-index: 1;}
.road_run img{ height:100%; display: block;}

/*-------mod_one-----------*/
.mod_roads{width:100%; height:100%; position: relative; top: 0; left: 0; right: 0; bottom:0;}
.fm93_banner{width:16.79%; height: 28.5%; position: absolute; top: 0; right:18.29%; z-index:5; background: url("../images/fm93.png") no-repeat; background-size:100% 100%;}
.mod_roads .road_left_part{ height:100%; width: 45.12%; display:inline-block; }
.mod_roads .road_right_part{ height:100%; width: 49.47%; display:inline-block; }
.mod_roads .road_left_part img,.mod_roads .road_right_part img{width:100%;height:100%; display: block}

/*-------mod_two-----------*/
.weChat{width:59%; height:16.7%; position: absolute; top:19%; left:3%; background: url("../images/wechat.png") no-repeat; background-size:100% 100%; z-index:5;}
.people{width:10.8%; height:30.9%; position: absolute; top:11.73%; right:17.5%; background: url("../images/people.png") no-repeat; background-size:100% 100%; z-index:5;}
.light{width:8.7%; height:44.5%; position: absolute; top:0; left:9.7%; background: url("../images/hld.png") no-repeat; background-size:100% 100%; z-index:5;}
.otherCar{width:22.7%; height:61%; position: absolute; top:0; left:31.5%; background: url("../images/otherCar.png") no-repeat; background-size:100% 100%; z-index:2;}
.limit_40{width:8.2%; height:39.3%; position: absolute; top:3%; right:9%; background: url("../images/limit_40.png") no-repeat; background-size:100% 100%; z-index:2;}
.iphone{width:25.7%; height:48.3%; position: absolute; top:0%; left:12.7%; background: url("../images/iphone.png") no-repeat; background-size:100% 100%; z-index:6;}
.no_left{width:10%; height:56%; position: absolute; top:0; left:24%; background: url("../images/no_left.png") no-repeat; background-size:100% 100%; z-index:2;}
.lp{width:28%; height:66.4%; position: absolute; top:0; right:2.6%; background: url("../images/lp.png") no-repeat; background-size:100% 100%; z-index:2;}
.bus{width:18.6%; height:22.7%; position: absolute; top:0; right:26%; background: url("../images/bus.png") no-repeat; background-size:100% 100%; z-index:2;}
.result{ position: absolute; top:35%; left:21%;font-size: 50px; color: #be4334;}
.persent{ position: absolute; top:50%; left:20%;font-size: 50px; color:#000;}
.r_text{ position: absolute; top:75%; left:35%;font-size:30px; font-weight:600; color:#000;}
.shareNb{ position: absolute; bottom:17.5%; right:16%;font-size:50px; font-weight:600; color:#000;}
.shareButton{width:24.3%; height:15.6%; position: absolute; bottom:38%; right:2%; cursor:pointer}
.testOne{width:24.3%; height:15.6%; position: absolute; bottom:55.74%; right:2%; cursor:pointer}
.iphoneOk,.iphoneNot{width:18.9%; height:18%; position: absolute; top:41.5%; left:18.85%; cursor:pointer}
.iphoneNot{left:62.3%;}

/*----------car control--------*/
.introduce{margin:0 0 -50px -50px;  padding:50px;}
.img_100P{width:100%; height: 100%;}
.car_mirror{width:38%; height:31%; position: absolute; top: 0; right: 2.2%; z-index: 4;}
.car_steering{width:46.5%; height:83%; position: absolute; bottom:-40%; left: 17%; z-index: 5; background:url("../images/steering.png") no-repeat; background-size:100% 100%;}
.car_steering.introduce{background: url("../images/steering_h.png") no-repeat;background-size:100% 100%;}
.car_left_right{width:7.6%; height:6%; position: absolute; bottom:11%; left: 12%; z-index: 4;}
.car_left,.car_right{width:2.7%; height:4.5%; position: absolute; bottom:20%; left:31.7%; background: url("../images/left.png") no-repeat; background-size:100% 100%; z-index: 4;}
.car_right{left:49.3%;background: url("../images/right.png") no-repeat; background-size:100% 100%;}
.car_left.icon_active{background: url("../images/left_h.png") no-repeat;background-size:100% 100%;}
.car_right.icon_active{background: url("../images/right_h.png") no-repeat;background-size:100% 100%;}
.car_icon_start{width:4.78%; height:8.7%; position: absolute; bottom:16%; left:62%; background: url("../images/start.png") no-repeat; background-size:100% 100%; z-index: 4;}
.car_icon_start.introduce{background: url("../images/start_h.png") no-repeat;background-size:100% 100%;}
.car_fast,.car_slow{width:12.4%; height:23%; position: absolute;  background: url("../images/go.png") no-repeat; background-size:100% 100%; z-index: 4;}
.car_fast{right:2%;bottom:20%; }
.car_fast.introduce{background: url("../images/go_h.png") no-repeat;background-size:100% 100%;}
.car_slow{left:2%;bottom:20%;  background: url("../images/stop.png") no-repeat;background-size:100% 100%;}
.car_slow.introduce{background: url("../images/stop_h.png") no-repeat;background-size:100% 100%;}
.drink{width:8.9%; height:38.3%; position: absolute; bottom:30%; left:55%; background: url("../images/drink.png") no-repeat; background-size:100% 100%; z-index: 4;}
.drink.introduce{background: url("../images/drink_h.png") no-repeat;background-size:100% 100%;}
.smoking{width:10.8%; height:10.53%; position: absolute; bottom:26%; left:60%; background: url("../images/smoke.png") no-repeat; background-size:100% 100%; z-index: 4;}
.smoking.introduce{background: url("../images/smoke_h.png") no-repeat;background-size:100% 100%;}
.rund_speed{width:7%; height:1%; position: absolute; bottom:14%; left:36.5%; background: url("../images/rund_speed.png") no-repeat; background-size:100% 100%; z-index: 4;}
.speed{width:6%; height:3%; position: absolute; bottom:10%; left:50%; background: url("../images/speed.png") no-repeat; background-size:100% 100%; z-index: 4;}
.drink_1{background: url("../images/drink1.png") no-repeat; background-size:100% 100%;}
.drink_2{background: url("../images/drink2.png") no-repeat; background-size:100% 100%;}
.drink_3{background: url("../images/drink3.png") no-repeat; background-size:100% 100%;}
.drink_not{width:38.5%; height:50%; position: absolute; bottom:8.3%; left:39%; background: url("../images/drink_not.png") no-repeat; background-size:100% 100%; z-index: 3;}


